@import url('./fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* about us section */

@media (max-width: 991px) {
    .desktop-cards {
        display: none;
    }

    .mentor-card {
        max-width: 90%;
    }
}



.quitar {
    height: 68px;
}

.about-trainings {
    background-color: #2b2b2b;
    color: white;
}

.about-trainings .row {
    max-width: 1100px;
    margin: 0 auto;
}


.mentor-card {
    background-color: white;
    border-radius: 7px;
    text-align: center;
    height: 100%;
    width: 100%;
    max-width: 320px;
    transition: transform 0.2s ease;
}

.mentor-card img {
    padding: 11px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.section-title {
    color: #cfa670;
    font-weight: 700;
    font-size: 2.3rem;
    padding-top: 52px;
}

.section-subtitle {
    margin-top: 20px;
    font-size: 1rem;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.mentor-card h3 {
    padding-top: 20px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #443023;
}

.mentor-card p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95rem;
    color: #292929;
    line-height: 1.6;
}


.spacer {
    width: 35px;
    padding: 0;
    margin: 0;
    border: 2px solid #826C4B;
}
/* fin about us section */
