@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* ===== THIN ===== */
@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* ===== EXTRA LIGHT ===== */
@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* ===== LIGHT ===== */
@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* ===== REGULAR ===== */
@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* ===== MEDIUM ===== */
@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('../VENDOR/Fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* ===== SEMIBOLD ===== */
@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* ===== BOLD ===== */
@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../VENDOR/Fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}