@import url('./fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


    .articles-section {
      background-color: #f4f0e6;
    }
    .article-title {
      font-size: 2.2rem;
    }

    .article-wrapper {
      max-width: 550px; 
    }

    .article-card {
      position: relative;
      height: 320px;
      overflow: hidden;
    }

    .article-card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .article-content {
      position: absolute;
      bottom: 25px;
      left: 10px;
      right: 10px;
      padding: 16px 18px;
      border-radius: 5px;
    }
    .article-text {
      padding: 15px;
      border-radius: 3px;
      line-height: 30px;
    }

    .news-badge {
      display: inline-block;
      background: #000;
      font-size: 12px;
      padding: 2px 8px;
      border-radius: 3px;
      letter-spacing: 0.5px;
      margin-bottom: 8px; 
    }

    .btn-secondary {
      font-size: 1.1rem;
      letter-spacing: 2px;
    }
