@import url('./fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    font-family: 'Poppins',sans-serif;
}
::selection{
    color: #fff;
    background: #333;
    text-shadow: none;
}
.title{
    color: #443023;
}

#Hero1 {
    position: relative;
    min-height: 100vh;
    color: white;
}

#Hero1::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../IMG/owp-mentor-hero.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.35); /* 👈 controla aquí el brillo */
    z-index: -1;
}

.title-hero{
    font-size: 72px;
    /*IMPORTAR LA FUENTE PLAYFAIR*/
    font-family: 'PlayFair Display', sans-serif;
    font-weight: bold;
}

#modal{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E7E0CD;
    padding: 12px 24px !important;
    color: black;
    transition: .3s ease;
}

#modal:hover{
    transform: scale(0.9);
    
}