@import url('./fonts.css');


*{
    font-family: 'Poppins',sans-serif;
}


p{
    margin: 0 0 20px !important;
    color: black;
}

::selection{
    color: #fff;
    background: #333;
    text-shadow: none;
}
.title{
    color: #443023;
}

#Hero1 {
    position: relative;
    min-height: 100vh;
    color: white;
}

#Hero1::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../IMG/owp-mentor-hero.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.35); /* 👈 controla aquí el brillo */
    z-index: -1;
}

.title-hero{
    font-size: 72px;
    /*IMPORTAR LA FUENTE PLAYFAIR*/
    font-family: 'PlayFair Display', sans-serif;
    font-weight: bold;
}



#modal{
    background-color: #E7E0CD;
    padding: .6em 1.7em !important;
    color: black;
    transition: .3s ease;
}

#modal > span {
    font-family: 'Open Sans', sans-serif;
}

#modal:hover{
    transform: scale(0.9);   
}

#hero-content{
    line-height: 1.7em;
    font-size: 16px;
}

#hero-content > p {
    color: white;
}

#navbar{
    transition: 0.3s;
}


.fs-16px{
    font-size: 16px;
}

.fs-14px{
    font-size: 14px;
}

.image-box-title{
    font-size: 21px;
    margin: 0px 0px 10px !important;
}

.box-img{
    width: 7.625rem;
    margin-bottom: .8rem;
}

#box-1{
    border-right: 1px solid #c0a07140;
}

#box-2{
    border-right: 1px solid rgba(192, 160, 113, 0.25)
}

#box-3{
    border-right: 1px solid rgba(192, 160, 113, 0.25)
}

/* Tablet */
@media (max-width: 1024px) {
    .box-img{
        width: 11.25rem;
    }

    #box-1{
        border-right: 1px solid #c0a07140;
        border-bottom: 1px solid #c0a07140;
    }

    #box-2{
        border-bottom: 1px solid rgba(192, 160, 113, 0.25);
        border-right: none;
    }
}

/* Tablet 2? xd*/
@media (max-width: 768px) {
    .box-img{
        width: 8.125rem;
    }
    
    #box-1{
        border-bottom: 1px solid #c0a07140;
        border-right: none;
    }

    #box-2{
        border-bottom: 1px solid #c0a07140;
        border-right: none;
    }

    #box-3{
        border-bottom: 1px solid rgba(192, 160, 113, 0.25);
        border-right: none;
    }
}

/* MOVIL */
@media (max-width: 390px) {
    .box-img{
        width: 7.125rem;
    }
}